* Config file for KFPS, KIP version, 10/86.
*
* A future version of the 'prompt' program will recognize
* a line containing a 'dot format' address and convert those
* four decimal byte values to four hex bytes(?)
*
* These bytes are ignored but must be left as placeholders: 
0000 0000 FF FF FF 00 000000 000000
* Gateway name (in this example, "gw")
677700000000000000000000000000000000000000
* File name (in this example, "gw.srec"): 
67772E737265630000000000000000000000000000
* reserved (this field should be 00FF): 
00FF
*
* Start of 'mandatory' parameters, the minimum information that
* must be supplied for the gateway to begin operation.
*
* IP address of myself, 'ipaddr'
* 128.222.9.240
80de09f0
* IP addr of admin host
* 128.222.9.5
80de0905
* IP addr of default route (nearest 'real' gateway)
* 128.222.9.16
80de0910
* ethernet hardware addr of KFPS;
* 080089 is the Kinetics manufacturer code,
* remaining bytes are the serial number of your box.
080089 F00777
* next value is a flag, if it is '1234' the remainder 
* of this file is considered valid;  any other value means
* that the remaining parameters will be obtained from atalkad.
0000
